
<!doctype html>
<html lang="es">
<%- include('./partials/head') %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Helártico</title>
  <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" ></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/278943c891.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/estilo1.css" >
  <script src="/js/script.js"></script>
</head>

<body>
  <%- include('./partials/header') %>
  
 <main >
 <section id="product1" class="section-p1">
  
  <!-- Cuerpo principal -->
  <section >
    <article class="col-12  card">
      <div class="card-body">
        <h2 class=" text-center ">Crear nuevo producto</h2>
      </div>
    </article>

  </section>
  <section class="bg-home ">
    <div class="container">
      <div class="">
        <div class="   ">
          <div class="container-form-create">
            <form class= 'myForm' id= 'myForm' action="/create" method="POST">
              <div  class="form-group">
                  <label for="name">Nombre</label>
                  <input class= "controls" type="text" name="name" id="name">
              </div>
              <div  class="form-group">
                <label for="description">Descripción</label>
                <input type="text" class= "controls" name="description" id="descr">
            </div>
            <div  class="form-group">
              <label for="price">Precio</label>
              <input type="text"class= "controls" name="price" id="price">
            </div>

              <div  class="form-group-4">
                <label for="image">Imagen</label>
                <input accept="image/*" type="file" name ="image" id="image" multiple>
              </div>

              
      
              
      
          
              <div class="form-group p-1">
                <button type="submit" class="btn ubicar btn-primary">Crear</button>
                <button type="reset" class="btn ubicar btn-primary">Reset</button>
              </div>

            </form>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</body> 
<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Hel<span>Artico</span></h3>

    <p class="footer-links">
      <a href="/">Home</a>
      ·
      <a href="/#sabores">Nosotros</a>
      ·
      <a href="/products">Shop</a>
      ·
      <a href="/contacto">Contacto</a>
      ·
    </p>

    <p class="footer-company-name">Helártico © 2015</p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

  
</footer>

</html>