<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Helártico</title>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/278943c891.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilo1.css">
  </head>

  <body>
    <section id="header">
      <a href=""><img src="images/logo.png" class="logo" alt="logo"> </a>

      <div>
        <ul id="navbar">
          <li> <a href="/" class="">Home </a></li>
          <li> <a href="/products">Shop </a></li>
          <li> <a href="/#sabores">Sabores </a></li>
          <li> <a href="/contacto">Contacto </a></li>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <a class="" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>

            </button>

            <ul class="dropdown-menu" role="menu">
              <% if (locals.user) { %>
                <li>Hola <%= locals.user.email %>
                </li>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>

                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">Registrarse</a></li>
                  <% } %>




            </ul>

          </div>


        </ul>


      </div>

    </section>
    <section id="helartico">

      <h1 contenteditable data-heading="Frozen">
        Helartico
      </h1>
      
      <button ><a href="/products"> <img class="botton" src="/images/boton2.png" alt=""> </a> </button>
    </section>
    
    
    
  
  </div>
   
  

    <section  id="sabores" class="section-p2">
      <div id="fe-fox">
        <div >
          <h2 class="sabores">Nuestros sabores</h2>
        </div>
        <img class="size animacion" src="/images/chocolate.jpg" alt="">
        <img class="size animacion" src="/images/dulcedeleche.jpg" alt="">
        <img class="size animacion" src="/images/cremas.jpg" alt="">
        
      </div>

    </section>
  <section  class="saboreshelado">
    <div class="chocolate">
      <h2>CHOCOLATES</h2>
      <li> Chocolate suizo </li>
      <li> Chocolate marroc </li>
      <li> Chocolate con dulce de leche </li>
      <li> Chocolate con almendras </li>
      <li> Chocolate granizado </li>
      <li> Chocolate blanco </li>
      <li> Chocolate bariloche </li>
      <li> Mousse de chocolate </li> 
    </div>
    <div class="ddl">
      <h2>DULCE DE LECHE</h2>
      <li> Dulce de leche granizado </li>
      <li> Super dulce de leche </li>
      <li> Dulce de leche con nuez </li>
      <li> Dulce de leche tentación </li>
    </div>
    <div class="cremas">
      <h2>CREMAS</h2>
      <li> Crema cookies </li>
      <li> Crema americana </li>
      <li> Frutilla a la crema </li>
      <li> Sambayon </li>
      <li> Mascarpone con frutos rojos </li>
    </div>
  </section>
  
  <marquee class= "marquee" direction="left"> <h2> Promo Kg lunes a jueves
    $1500 - Válido hasta el 30/11/2022 </h2> </marquee><br>
  </body>


  <footer class="footer-distributed">

    <div class="footer-left">

      <h3>Hel<span>Artico</span></h3>

      <p class="footer-links">
        <a href="/">Home</a>
        ·
        <a href="/products">Shop</a>
        ·
        <a href="/#sabores">Sabores</a>
        ·
        <a href="/contacto">Contacto</a>
        ·
      </p>

      <p class="footer-company-name">Helártico © 2015</p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>


  </footer>

</html>