<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Helártico</title>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/278943c891.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilo1.css">
  </head>

  <body>
    <section id="header">
      <a href=""><img src="images/logo.png" class="logo" alt="logo"> </a>

      <div>
        <ul id="navbar">
          <li> <a href="/" class="">Home </a></li>
          <li> <a href="/products">Shop </a></li>
          <li> <a href="">Nosotros </a></li>
          <li> <a href="">Contacto </a></li>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <a class="" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>

            </button>

            <ul class="dropdown-menu" role="menu">
              <% if (locals.user) { %>
                <li>Hola <%= locals.user.email %>
                </li>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>

                  <li><a href="/login">Login</a></li>
                  <li><a href="/register">Registrarse</a></li>
                  <% } %>




            </ul>

          </div>


        </ul>


      </div>

    </section>
    <section id="helartico">

      <h1>Helártico</h1>
      <h2>1000 razones para elegirnos</h2>
      <h4>Conoce nuestros gustos!</h4>
      <button> </button>
    </section>

    <section id="feature" class="section-p1">
      <div id="fe-fox">
        <img class="size" src="/images/helados.jpg" alt="">
        <img class="size" src="/images/milkshakes.jpg" alt="">
        <div class="texto">
          <h2> NUESTROS HELADOS </h2>
        </div>
      </div>

    </section>

  </body>


  <footer class="footer-distributed">

    <div class="footer-left">

      <h3>Hel<span>Artico</span></h3>

      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Nosotros</a>
        ·
        <a href="#">Shop</a>
        ·
        <a href="#">Contacto</a>
        ·
      </p>

      <p class="footer-company-name">Helártico © 2015</p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>


  </footer>

</html>