
<footer class="footer-distributed">

    <div class="footer-left">

      <h3>Hel<span>Artico</span></h3>

      <p class="footer-links">
        <a href="/">Home</a>
        ·
        <a href="/#sabores">Nosotros</a>
        ·
        <a href="/products">Shop</a>
        ·
        <a href="/contacto">Contacto</a>
        ·
      </p>

      <p class="footer-company-name">Helártico © 2015</p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

    
  </footer>
