<section id="header">
    <a href="" ><img src="images/logo.png" class="logo" alt="logo"> </a>

    <div>
     <ul id="navbar">
         <li> <a href="/" class="">Home </a></li>
         <li> <a href="/products">Shop </a></li>
         <li> <a href="">Nosotros </a></li>
         <li> <a href="">Contacto </a></li>
         <div class="btn-group">
             <button type="button" class="btn btn-default dropdown-toggle"
                     data-toggle="dropdown">
                     <a class="" href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                     
             </button>
           
             <ul class="dropdown-menu" role="menu">
                <% if (locals.user) { %>
                  <li>Hola <%= locals.user.email %>
                  </li>
                  <li><a href="/logout">Logout</a></li>
                  <% } else { %>
  
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registrarse</a></li>
                    <% } %>
  
  
  
  
              </ul>

           </div>
         
         
     </ul>


    </div>
    
 </section>